@font-face {
  font-family: "avo";
  src: url('./Assets/fonts/SVN-Avo.ttf');
  font-weight: 400;
}

@font-face {
  font-family: "avo";
  src: url('./Assets/fonts/SVN-Avo-bold.ttf');
  font-weight: 500;
}

* {
  box-sizing: border-box;
  margin: 0 0;
  padding: 0 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111828;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #888;
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "avo";
  font-weight: 400;
  color: #a3b3bc;
  background-color: #17242c;
  font-size: 18px;
  line-height: 1.75;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  color: #cfcfd3;
}

ol,
ul {
  list-style: none;
  color: #cfcfd3;
}

input {
  font-family: "avo" !important;
  font-weight: 400;
}

img {
  vertical-align: middle;
  width: 100%;
}

strong {
  color: #fff;
}

p a {
  font-weight: 500;
  color: #36a3ff;
}

pre {
  border-radius: 10px;
  margin: 35px 0 25px !important;
  background-color: #1a1a1e !important;
}

code {
  background-color: #1a1a1e !important;
}

blockquote {
  padding: 12px 30px 12px 40px;
  border-left: 10px solid #4b50e6;
  margin: 35px 0;
}

blockquote h3 {
  margin-bottom: 18px;
  font-size: 28px;
}

button {
  padding: 18px 40px;
  border: none;
  display: inline-block;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 500;
  background-color: #4b50e6;
  color: #fff;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "avo";
  font-weight: 500;
  color: #fff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.details-page .details code {
  background-color: #20273c;
  color: #fff;
  padding: 10px;
  display: block;
  border-radius: 5px;
}